.btn-jarak {
    margin-top: 12px;
}

.invalid-feedback {
    font-size: .875rem;
    color: #dc3545;
}
.btn-show-margin {
    margin-left: 12pxs;
}
.btn-action{
    text-decoration: none;
    font-size: 12px;
    color: crimson;
    border-style: none;
}
.btn-action:hover {
    background-color: "grey";
    text-decoration: none;
}
.ul-style {
    margin-left: 15px;
    margin-top: 15px;
    margin-right: none;
    margin-bottom: 14px;
}
